<div class="container" style="padding: 50px;">
  
  <div class="container">
      <div> 
        <% if @cocktail.photo.attached? %>
          <%= cl_image_tag @cocktail.photo.key, height: 300, width: 200, crop: :fit %>
        <% else %>
          <%= image_tag("https://source.unsplash.com/random", alt:"image", width: 20, height: 300, crop: :fit, class: "card-img-top") %>
        <% end %>
      </div> 
      <div>
          <h1><%= @cocktail.name %></h1>
          <p><strong>Description</strong></p>
          <ul>
            <% @cocktail.doses.each do |dose| %>
              <li><%= dose.description %>
              <%= dose.ingredient.name %> <%= link_to "Delete", dose_path(dose) , method: :delete %> 	
              </li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
  <div class="container lower-buttons">
    <%= link_to " ➕Ingredient ", new_cocktail_dose_path(@cocktail), class: "btn btn-primary"%>
    <br>
    <%= link_to " ⏮ ", cocktails_path(@cocktail), class: "btn btn-primary"%>
  </div>
  
</div>

