<div class="container p-5 m-5">
  <div class="row">
    <div class="col">
      <% if @cocktail.photo.attached? %>
          <%= cl_image_tag @cocktail.photo.key, width: 500, :crop=>"scale" %>
        <% else %>
          <%=  cl_image_tag("https://res.cloudinary.com/dwmwaf1jp/image/upload/v1605097953/samples/cocktail.jpg", :width=>500, :crop=>"scale") %>
        <% end %>
    </div>
    <div class="col">
      <h2 class="text-orange"><%= @cocktail.name %></h2>
      <p><strong>Description</strong></p>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li><%= dose.description %>
          <%= dose.ingredient.name %> <%= link_to "Delete", dose_path(dose) , method: :delete %> 	
          </li>
        <% end %>
      </ul> 
      <%= render "doses/new", cocktail: @cocktail, dose: @dose %>


    </div>
  </div>
      <div class="lower-buttons">
        <br>
        <%= link_to "Go back", root_path, class: "btn btn-primary background-orange border-orange"%>
      </div>
</div>

