<h1><%= @cocktail.name %></h1>

<p><strong>Description</strong></p>
  <ul>
      <% @cocktail.doses.each do |dose| %>
        <li><%= dose.description %>
        <%= dose.ingredient.name %> <%= link_to "Delete", dose_path(dose) , method: :delete %> 	
        </li>
      <% end %>
    </p>
    </ul>

<%= link_to "+ add Ingredient ", new_cocktail_dose_path(@cocktail), class: "btn btn-primary"%>
<br>
<%= link_to "<< back >>", cocktails_path(@cocktail), class: "btn btn-primary"%>