<div>
      <p><strong>Add more ingredients</strong></p>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.label :ingredient, "Which ingredient?" %>
        <br>
        <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" } %>
        <%= f.label :description, "How much of it?" %>
        <br>
        <%= f.text_field :description, label: false %>
        <br>
        <br>
        <%= f.submit "Add ingredient", class: "btn btn-primary background-orange border-orange", disable_with: 'Adding...' %>
        <% end %>
        <br>
</div>
