<h1>Add your details</h1>

<%= simple_form_for[@cocktail, @dose] do |f| %>
  <%= f.label :ingredients, "Which ingredient?" %>
  <%= f.association :ingredients %>
  <%= f.label :description, "How much of it?" %>
  <%= f.text_field :description %>
  <br>
  <%= f.submit "Add ingredient", class: "btn btn-primary", disable_with: 'Adding...' %>
  <br>
<% end %>